.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-logo {
    float: left;
    display: flex;
    align-items: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.navbar-links {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    float: left;
}

.navbar-links li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.navbar-links li a:hover {
    background-color: #575757;
}